<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/furry_funds_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/furry_funds_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationFurry"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".PerfilVista"/>
        <activity android:name=".CambiarIconoVista"/>
        <activity android:name=".CompartirAnimal"/>
        <activity android:name=".VistaInicio"/>
        <activity android:name=".VistaGrupo"/>
        <activity android:name=".VistaGastos"/>
        <activity android:name=".VistaRetos"/>
        <activity android:name=".VistaRetoIndividual"/>
        <activity android:name=".VistaCrearGrupo"/>
        <activity android:name=".VistaBalance"/>
        <activity android:name=".VistaEstadisticas"/>
    </application>

</manifest>